.App {
  text-align: left;
}

h2 {
  color: #0366d6;
}

.text-align-center {
  text-align: center;
}

.padding-10 {
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: flex-end; */
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 15px;
}

.home {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.App-body {
  height: 95vh;
  background: #fff;
  padding: 15px;
}

.ArticleContainer {
  border-radius: 3px;
  margin: 15px 0;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s ease all;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.ArticleContainer.hover-effect:hover {
  border: 1px solid red;
}

.title {
  color: #237dac;
  padding: 10px;
  position: relative;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  opacity: .7;
  border-bottom: 1px solid black;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
  
.fade-in {
  animation: fadeInDown 1s ease forwards;
}

.fade-in-delay{
  animation: fadeInDown 2s ease forwards;
}


@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    position: absolute;
    visibility: hidden;
  }
}

.fade-out {
  animation: fadeOutUp 1s ease 3s forwards;
}


.ArticleHeader {
  color: black;
  /* background: black; */
  border: 1px solid black;
  opacity: .7;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ArticleHeader h2 {
  /* display: inline-block; */
}

.title input {
  border: 1px solid black;
  padding: .375rem .75rem;
  font-size: .5rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.ArticleHeader input {
  /* font-size:18px;
  padding:10px 10px 10px 5px;
  margin: 11px 0;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575; */
}


/* .ArticleFooter {
  font-size: 8px;
  color: black;
  border-top: 1px solid black;
  opacity: .7;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
} */

.ArticleContent {
  /* padding: 12px; */
}

.MarkDownContainer {

}

.btn {
  float: right;
  margin: 0 0 0 5px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid black;
  padding: .375rem .75rem;
  font-size: .5rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.bottomBtn {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}